body {
    background-color: #F5F5F5;
}

h1,
h2,
h3 {
    margin: 15px 0;
    font-family: 'Roboto Slab', serif;
}


/* -- Navbar -- */

.navbar {
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #eee;
}

.navbar-default {
    background-color: #1976D2;
    border-color: #1976D2;
}


/* -- Colors -- */

.blue {
    background-color: #2196F3;
}

.dark-blue {
    background-color: #1976D2;
}

.red {
    background-color: #F44336 !important;
}

.bg-header,
.title-header {
    height: 250px;
    position: relative;
    margin-bottom: 25px;
}

.title-header {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    top: 130px;
}

.card {
    background: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    width: calc(100% - 25px);
    /*height: calc(100% - 25px);*/
    /*top: -65px;*/
    left: 5px;
    padding: 10px 15px;
}

.btn-action-header {
    top: -50px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.unstyled {
    list-style: none;
}

.done-true {
    text-decoration: line-through;
    color: gray;
}

.modal-header {
    border-bottom: 0 !important;
}

#compare,
#create-pdf {
    right: 35px !important;
    font-size: 0.9em;
}

.hide,
.result {
    display: none;
}

.on {
    display: block;
}

.result .card {
    width: 100% !important;
}

.result button {
    margin: 15px auto;
}

ul.thumbnails.image_picker_selector {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.thumbnails.image_picker_selector li.group_title {
    float: none;
}

ul.thumbnails.image_picker_selector li {
    /*margin: 0px 12px 12px 0px;*/
    float: left;
}

ul.thumbnails.image_picker_selector li .thumbnail {
    padding: 6px;
    border: 1px solid #dddddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

ul.thumbnails.image_picker_selector li .thumbnail img {
    -webkit-user-drag: none;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
    background: #0088cc;
}
